body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
header {
    background-color: #65995c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
}
.novedad img {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 5px;
}
#banner img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
#logo {
    width: 100px;
    height: 100px;
}
.novedad {
    width: 30%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
    text-align: center; 
    text-decoration: none;

}
.info-libro {
    margin-top: 10px; 
}
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.buscador {
    display: flex;
    align-items: center;
}
.buscador input {
    padding: 5px;
    margin-right: 5px;
}
footer{
    background-color: #65995c;
    color: #fff;
    align-items: center;
}
footer p{
    text-align: center;
    padding: 10px 50px;
}
.dropdown {
    margin-right: 20px;
}
#filtros {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#filtros label {
    margin-right: 10px;
    color: #333;
}

#filtros select {
    padding: 5px;
    margin-right: 50px;
}

#filtros button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #65995c;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

#filtros button:first-child {
    margin-left: 20px;
}

#lista-libros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

#lista-libros img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid-item p {
    margin: 5px 0;
}
